@import './variables';

@mixin flex($alignItems, $justifyContent, $direction, $gap){
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction: $direction;
    gap: $gap;
}

@mixin font($fontFamily, $fontSize, $fontWeight){
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin position($position, $top, $bottom, $left, $right, $translateX, $translateY){
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    transform: translate($translateX, $translateY);
}

@mixin buttonOutline($width){
    width: $width;
    border: .1rem solid $primaryColor;
    background-color: transparent;
    border-radius: $buttonBorderRadius;
    padding: .6rem 0;
    cursor: pointer;
    text-transform: capitalize;
    color: $primaryColor;
    @include font($primaryFont, 1.4rem, $subheading);
    transition: all .5s;
    &:hover{
        background-color: $primaryColor;
        color: white;

    }

}

@mixin appModal{
    @include position(absolute, null, 0, null, 0, 0, 100%);
	box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
	border-radius: 0.4rem;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
    &.active{
        opacity: 1;
        pointer-events: all;
        @include position(absolute, null, 0, null, 0, 0, 105%);
    }

}

@mixin main{
    @include position(absolute, 8rem, null, 30rem, null, null, null);
	width: calc(100vw - 30rem);
    @include xs{
        top: 6rem;
    }
    @include sm{
		overflow: scroll;
		max-height: calc(100vh - 6rem);
		padding: 3rem 0;

	}

	@include md {
		left: 0;
		width: 100%;
	}
}


// for large screen desktop
@mixin lg{
    @media (min-width: 1200px) {
        @content;
    }
}

// for mini desktop
@mixin md{
    @media (max-width: 1200px) {
        @content;
    }
}

// for tab
@mixin sm{
    @media (max-width: 768px) {
        @content;
    }
}

// for mobile devices
@mixin xs{
    @media (max-width: 500px) {
        @content;
    }
}
// for small mobile devices
@mixin xxs{
    @media (max-width: 390px) {
        @content;
    }
}