

// Fonts Variable
$primaryFont: "Poppins", sans-serif ;


// colors varible
$primaryColor: #5D87FF;
$secondaryColor: #3DD9EB;

$primary: #5d87ff;
$secondary: #49beff;
$success: #13deb9;
$danger: #fa896b;
$warning: #ffae1f;
$info: #539bff;
$light: #f6f9fc;
$dark: #2a3547;
$link: transparent;

$heading: 600;
$subheading: 500;
$title: 400;
$text: 300;

$buttonBorderRadius: .6rem;