

// Fonts Variable
$primaryFont: "Poppins", sans-serif ;


// colors varible
$primaryColor: #5D87FF;
$secondaryColor: #3DD9EB;


$heading: 600;
$subheading: 500;
$title: 400;
$text: 300;

$buttonBorderRadius: .6rem;