@import './styles/variables';
@import './styles/mixins';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $primaryFont;
	user-select: text;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	max-height: 100vh;
	overflow: hidden;
}

#area_chart {
	.apexcharts-inner {
		transform: translate(0, 0%) !important;
	}
	.apexcharts-yaxis-label {
		display: none;
	}
	.apexcharts-xaxis-label {
		display: none;
	}
}

#pie_chart {
	min-width: 15rem !important;

	div {
		.apexcharts-canvas {
			display: flex;
			justify-content: flex-start;
			max-width: 15rem;
			.apexcharts-svg {
				// max-width: 15rem;
				@include flex(center, center, row, null);
			}
		}
	}
}

.apexcharts-bar-series {
	.apexcharts-series {
		.apexcharts-bar-area {
			stroke-linecap: butt !important;
		}
	}
}

.apexcharts-grid-borders{
	.apexcharts-gridline{
		stroke: rgb(220, 220, 220);
		stroke-dasharray: 3;
		stroke-dashoffset: 3;
	}
}
.apexcharts-yaxis-texts-g,
.apexcharts-xaxis-texts-g {
	text {
		fill: gray;
		@include font($primaryFont, 1.4rem, $title);
	}

}
.apexcharts-grid {
	.apexcharts-gridlines-horizontal {
		line {
			stroke: rgb(220, 220, 220);
			stroke-dasharray: 3;
			stroke-dashoffset: 3;
		}
	}
}
.apexcharts-menu-item {
	width: max-content;
}
