@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.card_wrapper{
    header{
        margin-bottom: 2rem;
        h4{
            @include font($primaryFont, 1.6rem, $subheading);
            user-select: text;
        }
    }

    .card{
        box-shadow: 0 0 1rem rgba($color: #000000, $alpha: .1);
        // width: max-content;
        max-width: max-content;
        border-radius: 1rem;
        overflow: hidden;
        .card_media{
            max-width: 35rem;
            overflow: hidden;
            img{
                aspect-ratio: 1/1;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .card_content{
            max-width: 35rem;
            padding: 2rem;

            .card_title{
                @include font($primaryFont, 1.8rem, $title);
                user-select: text;
            }

            .card_description{
                margin: 1rem 0;
                @include font($primaryFont, 1.4rem, $text );
                color: gray;
                user-select: text;
                width: fit-content;
            }

            button{
                @include button(max-content);
            }
        }
    }
}